<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<div class="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl">
					<div class="row">
						<div class="col-xl" th:each="list : ${list}">
							<div class="card">
								<div class="blog-box blog-grid text-center product-box">
									<div class="product-img">
										<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${list.pictureIdx})}">
										<div class="product-hover">
											<ul>
												<li><i class="icon-import"></i></li>
											</ul>
										</div>
									</div>
									<div class="blog-details-main">
										<ul class="blog-social">
											<li th:text="${list.regId}"></li>
											<li th:text="${list.officeId}"></li>
											<li th:text="${list.nationality}"></li>
										</ul>
										<hr>
										<h6 class="blog-bottom-details" th:text="${list.fullName}"></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>