<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<div class="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl">
					<div class="row">
						<div class="col-xl">
							<div class="card">
								<div class="blog-box blog-grid text-center product-box">
									<div class="product-img">
										<img class="img-fluid top-radius-blog" th:src="@{/assets/images/faq/1.jpg}" alt="">
										<div class="product-hover">
											<ul>
												<li><i class="icon-import"></i></li>
											</ul>
										</div>
									</div>
									<div class="blog-details-main">
										<ul class="blog-social">
											<li>2021-02-10</li>
											<!--등록일-->
											<li>판교현대백화점</li>
											<!--근무지점-->
											<li>USA</li>
											<!--국적-->
										</ul>
										<hr>
										<h6 class="blog-bottom-details">MICHAEL JHONS</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl">
							<div class="card">
								<div class="blog-box blog-grid text-center product-box">
									<div class="product-img">
										<img class="img-fluid top-radius-blog" th:src="@{/assets/images/faq/1.jpg}" alt="">
										<div class="product-hover">
											<ul>
												<li><i class="icon-import"></i></li>
											</ul>
										</div>
									</div>
									<div class="blog-details-main">
										<ul class="blog-social">
											<li>2021-02-10</li>
											<!--등록일-->
											<li>판교현대백화점</li>
											<!--근무지점-->
											<li>USA</li>
											<!--국적-->
										</ul>
										<hr>
										<h6 class="blog-bottom-details">MICHAEL JHONS</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl">
							<div class="card">
								<div class="blog-box blog-grid text-center product-box">
									<div class="product-img">
										<img class="img-fluid top-radius-blog"
											th:src="@{/assets/images/faq/1.jpg}" alt="">
										<div class="product-hover">
											<ul>
												<li><i class="icon-import"></i></li>
											</ul>
										</div>
									</div>
									<div class="blog-details-main">
										<ul class="blog-social">
											<li>2021-02-10</li>
											<!--등록일-->
											<li>판교현대백화점</li>
											<!--근무지점-->
											<li>USA</li>
											<!--국적-->
										</ul>
										<hr>
										<h6 class="blog-bottom-details">MICHAEL JHONS</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl">
							<div class="card">
								<div class="blog-box blog-grid text-center product-box">
									<div class="product-img">
										<img class="img-fluid top-radius-blog"
											th:src="@{/assets/images/faq/1.jpg}" alt="">
										<div class="product-hover">
											<ul>
												<li><i class="icon-import"></i></li>
											</ul>
										</div>
									</div>
									<div class="blog-details-main">
										<ul class="blog-social">
											<li>2021-02-10</li>
											<!--등록일-->
											<li>판교현대백화점</li>
											<!--근무지점-->
											<li>USA</li>
											<!--국적-->
										</ul>
										<hr>
										<h6 class="blog-bottom-details">MICHAEL JHONS</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl">
							<div class="card">
								<div class="blog-box blog-grid text-center product-box">
									<div class="product-img">
										<img class="img-fluid top-radius-blog"
											th:src="@{/assets/images/faq/1.jpg}" alt="">
										<div class="product-hover">
											<ul>
												<li><i class="icon-import"></i></li>
											</ul>
										</div>
									</div>
									<div class="blog-details-main">
										<ul class="blog-social">
											<li>2021-02-10</li>
											<!--등록일-->
											<li>판교현대백화점</li>
											<!--근무지점-->
											<li>USA</li>
											<!--국적-->
										</ul>
										<hr>
										<h6 class="blog-bottom-details">MICHAEL JHONS</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>