<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<div class="page-body">
		<div class="container-fluid">
			<div class="page-title">
				<div class="row">
					<div class="col-6">
						<h3>스태프 등록</h3>
					</div>
					<div class="col-6">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"><i
									data-feather="home"></i></a></li>
							<li class="breadcrumb-item">직원관리</li>
							<li class="breadcrumb-item active">스태프등록</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<form class="form theme-form">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label for="exampleFormControlSelect29">등록구분</label> <select
												class="form-control form-control-lg"
												id="exampleFormControlSelect29">
												<option>정규직</option>
												<option>단기직</option>
												<option>시간제</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="colFormLabelSm26">성함(한글)</label>
											<input class="form-control form-control-lg"
												id="colFormLabelSm26" type="text" placeholder="성함">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="colFormLabelSm26">성함(영문)</label>
											<input class="form-control form-control-lg"
												id="colFormLabelSm26" type="text" placeholder="Name">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label for="exampleInputPassword27">연락처</label> <input
												class="form-control" id="exampleInputPassword27" type="text"
												placeholder="- 없이 입력">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="colFormLabelSm28">주소</label>
											<input class="form-control form-control-sm"
												id="colFormLabelSm28" type="text" placeholder="주소">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="colFormLabelSm28">입사일</label>
											<input class="form-control form-control-lg"
												id="minMaxExample" type="text">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label for="exampleFormControlSelect29">근무지점</label> <select
												class="form-control form-control-lg"
												id="exampleFormControlSelect29">
												<option>본사</option>
												<option>판교</option>
												<option>반포</option>
												<option>대전</option>
												<option>천안</option>
												<option>대구</option>
												<option>광교</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<p>권한구분</p>
									</div>
									<div class="col">
										<div
											class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
											<div class="radio radio-primary">
												<input id="radioinline1" type="radio" name="radio1"
													value="option1"> <label class="mb-0"
													for="radioinline1">본사 슈퍼바이저</label>
											</div>
											<div class="radio radio-primary">
												<input id="radioinline1" type="radio" name="radio1"
													value="option1"> <label class="mb-0"
													for="radioinline1">매장관리자</label>
											</div>
											<div class="radio radio-primary">
												<input id="radioinline2" type="radio" name="radio1"
													value="option1"> <label class="mb-0"
													for="radioinline2">판매/입장업무</label>
											</div>
										</div>
									</div>
									<br>
									<br>
									<br>
									<br>
								</div>
							</div>
						</form>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>사진 및 서류 등록</h5>
						</div>
						<form class="form theme-form">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">사진등록</label>
											<div class="col-sm-9">
												<input class="form-control" type="file">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">위생증 등록(option)</label>
											<div class="col-sm-9">
												<input class="form-control" type="file">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">이력서(option)</label>
											<div class="col-sm-9">
												<input class="form-control" type="file">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<button class="btn btn-primary" type="submit">등록</button>
								<input class="btn btn-light" type="reset" value="취소">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Container-fluid Ends-->
	</div>
</th:block>
</html>