<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/reservationListScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
        <div class="container-fluid">
            <!-- Chart widget top Start-->
            <div class="row">
                <div class="col-xl-4 col-md-12 box-col-12">
                    <div class="card o-hidden">
                        <div class="chart-widget-top">
                            <div class="row card-body">
                                <div class="col-5">
                                    <h6 class="f-w-600 font-primary">가능한 예약인원</h6>
                                </div>
                                <div class="col-7 text-right">
                                    <h4 class="num total-value"><span class="counter" th:text="${info.totalSchedulePeopleNumber}"></span>명</h4>
                                </div>
                            </div>
                            <div>
                                <div id="chart-widget1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 box-col-12">
                    <div class="card o-hidden">
                        <div class="chart-widget-top">
                            <div class="row card-body">
                                <div class="col-7">
                                    <h6 class="f-w-600 font-secondary">예약인원</h6>
                                </div>
                                <div class="col-5 text-right">
                                    <h4 class="num total-value counter" th:text="${info.reservationCount}"></h4>
                                </div>
                            </div>
                            <div id="chart-widget2">
                                <div class="flot-chart-placeholder" id="chart-widget-top-second"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 box-col-12">
                    <div class="card o-hidden">
                        <div class="chart-widget-top">
                            <div class="row card-body">
                                <div class="col-8">
                                    <h6 class="f-w-600 font-success">예약률</h6>
                                </div>
                                <div class="col-4 text-right">
                                    <h4 class="num total-value"><span class="counter" th:text="${info.reservationPer}"></span>%</h4>
                                </div>
                            </div>
                            <div id="chart-widget3">
                                <div class="flot-chart-placeholder" id="chart-widget-top-third"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="container-fluid">
            <div class="row">
				<div class="col-lg-4">
					<select id="storeId" name="storeId" class="form-control btn-square">
						<th:block th:if="${session.staffVo.storeId == 'CST00001'}">
						<option value="">전체</option>
						</th:block>
						<option th:each="list : ${storeList}" th:value="${list.storeId}" th:text="${list.storeNameShort}" th:selected="${list.storeId == storeId}"></option>
					</select>
				</div>
			</div><br>
			<div class="row">
				<!-- Zero Configuration  Starts-->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								예약날짜 : <input id="scheduleStart" name="scheduleStart" type="text" th:value="${scheduleStart}">&nbsp;&nbsp;<button id="searchBtn">검색</button>
								<table class="display" id="basic-1">
									<thead>
										<tr>
											<th>고객명</th>
											<th>아동명</th>
											<th>예약신청일</th>
											<th>이용예약일</th>
											<th>예약시간</th>
											<th>이용구분</th>
											<th>예약클래스</th>
											<th>매장명</th>
											<th>전화번호</th>
											<th>진행상황</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${list}">
											<td th:text="${list.customerName}"></td>
											<td th:text="${list.childName}"></td>
											<td th:text="${list.reservationSignUpDate}"></td>
											<td th:text="${list.reservationDate}"></td>
											<td th:text="${list.reservationTime}"></td>
											<td th:text="${list.voucherType}"></td>
											<td th:text="${list.playName}"></td>
											<td th:text="${list.storeNameShort}"></td>
											<td th:text="${list.cellPhone}"></td>
											<td>
												<span th:if="${list.status.toString().equals('02')}" th:text="${list.statusName}"></span>
												<span th:if="${list.status.toString().equals('04')}" class="badge badge-secondary" th:text="${list.statusName}"></span>
												<span th:if="${list.status.toString().equals('05')}" style="color:red;" th:text="${list.statusName}"></span>
												<th:block th:if="${list.status.toString().equals('02')}">
													<span class="badge badge-danger"><a th:attr="onclick=|cancel('${list.reservationId}','${list.voucherUseId}')|">취소하기</a></span>
												</th:block>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>