<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/reservationScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>실시간 예약등록</h5>
							<span>최종 완료 단계에서 타회원이 먼저 예약을 등록하면 처리불가함</span>
						</div>
						<div class="card-body">
<!-- 							<div class="stepwizard"> -->
<!-- 								<div class="stepwizard-row setup-panel"> -->
<!-- 									<div class="stepwizard-step"> -->
<!-- 										<a class="btn btn-primary" href="#step-1">1</a> -->
<!-- 										<p>바우처조회</p> -->
<!-- 									</div> -->
<!-- 									<div class="stepwizard-step"> -->
<!-- 										<a class="btn btn-light" href="#step-2">2</a> -->
<!-- 										<p>이용매장선택</p> -->
<!-- 									</div> -->
<!-- 									<div class="stepwizard-step"> -->
<!-- 										<a class="btn btn-light" href="#step-3">3</a> -->
<!-- 										<p>스케쥴조회</p> -->
<!-- 									</div> -->
<!-- 									<div class="stepwizard-step"> -->
<!-- 										<a class="btn btn-light" href="#step-4">4</a> -->
<!-- 										<p>매장예약완료</p> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
							<form class="form theme-form" id="reservationForm" @submit.prevent="validateBeforeSubmit" action="/reservation/regist.proc" method="post" enctype="multipart/form-data">
								<div class="setup-content" id="step-1">
									<div class="col-xs-12">
										<div class="col-md-12">
											<div class="form-group mb-3">
												<label class="control-label">휴대폰번호</label>
												<input class="form-control" type="number" v-validate="'required'" id="cellPhone" name="cellPhone" placeholder="- 없이" required="required">
												<label class="col-form-label-sm" for="cellPhone" v-if="errors.has('cellPhone')">{{ errors.first('cellPhone') }}</label>
											</div>
											<button class="btn btn-primary nextBtn pull-right" type="button" id="voucherSearchBtn">검색</button>
											<br>
											<br>
											<label for="exampleFormControlSelect29">보유바우처 선택</label>
												<select class="form-control form-control-lg" v-validate="'required'" id="voucherNo" name="voucherNo">
												</select>
												<label class="col-form-label-sm" for="voucherNo" v-if="errors.has('voucherNo')">{{ errors.first('voucherNo') }}</label>
											<br>
										</div>
									</div>
								</div>
								<div class="setup-content" id="step-2">
									<div class="col-xs-12">
										<div class="col-md-12">
											<div class="form-group">
												<label for="exampleFormControlSelect29">매장선택</label>
												<th:block th:if="${session.staffVo.storeId == 'CST00001' OR session.staffVo.storeId == 'ADMIN'}">
												<select class="form-control form-control-lg" id="storeId" name="storeId">
													<th:block th:each="list : ${storeList}">
														<option th:value="${list.storeId}" th:text="${list.storeName}"></option>
													</th:block>
												</select>
												</th:block>
												<th:block th:unless="${session.staffVo.storeId == 'CST00001' OR session.staffVo.storeId == 'ADMIN'}">
													<select class="form-control form-control-lg" id="storeId" name="storeId">
														<option th:value="${session.staffVo.storeId}" th:text="${session.staffVo.storeName}"></option>
													</select>
												</th:block>
											</div>
										</div>
									</div>
								</div>
								<div class="setup-content" id="step-3">
									<div class="col-xs-12">
										<div class="col-md-12">
											<div class="form-group mb-3">
												<label class="control-label">스케쥴조회</label>
												<input class="form-control" type="date" v-validate="'required'" required="required" id="scheduleDate" name="scheduleDate">
												<label class="col-form-label-sm" for="scheduleDate" v-if="errors.has('scheduleDate')">{{ errors.first('scheduleDate') }}</label>
												<br/>
												<button class="btn btn-primary nextBtn pull-right" type="button" id="scheduleSearch">검색</button>												
											</div>
											<div class="form-group">
												<label for="exampleFormControlSelect29">수업선택</label>
												<select class="form-control form-control-lg" v-validate="'required'" id="scheduleId" name="scheduleId">
												</select>
												<label class="col-form-label-sm" for="scheduleId" v-if="errors.has('scheduleId')">{{ errors.first('scheduleId') }}</label>
											</div>
										</div>
									</div>
								</div>
								<div class="setup-content" id="step-4">
									<div class="col-xs-12">
										<div class="col-md-12">
											<div class="form-group mb-3">
<!-- 												<label class="control-label">휴대폰번호 :  <span id="cellPhoneTxt"></span></label><br> -->
<!-- 												<label class="control-label">이용일 :     <span id="useDateTxt"></span></label><br> -->
<!-- 												<label class="control-label">이용시간 :    <span id="useTimeTxt"></span> </label><br> -->
<!-- 												<label class="control-label">수업 :       <span id="useClassTxt"></span> </label><br> -->
<!-- 												<label class="control-label">보유바우처 :   <span id="usedVoucherTxt"></span></label><br> -->
<!-- 												<label class="control-label">차감예상시간 :  <span id="usedTimeTxt"></span></label><br> -->
<!-- 												<label class="control-label">잔여예상시간 :  <span id="remainTimeTxt"></span></label><br> -->
												<button class="btn btn-success pull-right" type="submit">완료</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>