<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<div class="page-body">
		<div class="container-fluid">
			<div class="page-title">
				<div class="row">
					<div class="col-6">
						<h3>고객 바우처 이용조회</h3>
					</div>
					<div class="col-6">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"> <i
									data-feather="home"></i></a></li>
							<li class="breadcrumb-item">고객관리</li>
							<li class="breadcrumb-item active">바우처사용이력</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<!-- Zero Configuration  Starts-->
				<div class="col-sm-12">

					<div class="card">
						<div class="card-header">
							<h5>홍길동 고객님</h5>
						</div>

						<div class="card-body megaoptions-border-space-sm">
							<form class="mega-inline">
								<div class="row">

									<div class="col-sm-6 xl-100">
										<div class="card">
											<div class="media p-20">
												<div class="radio radio-primary mr-3">
													<input id="radio19" type="radio" name="radio1"
														value="option1"> <label for="radio19"></label>
												</div>
												<div class="media-body">
													<h6 class="mt-0 mega-title-badge">
														20시간권<span class="badge badge-primary pull-right">잔여시간
															10</span>
													</h6>
													<p>구입일 : 2021/02/01 | 유효기간 ~ 2021/05/01</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 xl-100">
										<div class="card">
											<div class="media p-20">
												<div class="radio radio-secondary mr-3">
													<input id="radio20" type="radio" name="radio1"
														value="option1"> <label for="radio20"></label>
												</div>
												<div class="media-body">
													<h6 class="mt-0 mega-title-badge">
														무제한권<span class="badge badge-secondary pull-right">무제한</span>
													</h6>
													<p>
														<font color="red">구입일 : 2020/02/01 | 유효기간 ~
															2020/08/01</font>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer text-right">
							<button class="btn btn-primary m-r-15" type="submit">사용이력보기</button>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="display" id="basic-1">
									<thead>
										<tr>
											<th>날짜</th>
											<th>방문매장</th>
											<th>이용가족</th>
											<th>이용바우처</th>
											<th>CLASS</th>
											<th>TUTORING</th>
											<th>SPECIAL CAMP</th>
											<th>이용시간승인</th>
											<th>업무처리</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>2021/02/01</td>
											<td>현대아울렛 대전점</td>
											<td>송강철</td>
											<td>20시간권</td>
											<td>2</td>
											<td>-</td>
											<td>-</td>
											<td>승인</td>
											<td><a href="" type="button"><span
													class="badge badge-primary">사용취소</span></a></td>
										</tr>
										<tr>
											<td>2021/02/01</td>
											<td>현대아울렛 대전점</td>
											<td>송강철</td>
											<td>20시간권</td>
											<td>-</td>
											<td>-</td>
											<td>4</td>
											<td>환불</td>
											<td><a href="" type="button"><span
													class="badge badge-primary">사용취소</span></a></td>
										</tr>
										<tr>
											<td>2021/02/01</td>
											<td>현대아울렛 대전점</td>
											<td>송강철</td>
											<td>20시간권</td>
											<td>2</td>
											<td>-</td>
											<td>-</td>
											<td>승인</td>
											<td><a href="" type="button"><span
													class="badge badge-primary">사용취소</span></a></td>
										</tr>
										<tr>
											<td>2021/02/01</td>
											<td>현대아울렛 대전점</td>
											<td>송강철</td>
											<td>20시간권</td>
											<td>-</td>
											<td>2</td>
											<td>-</td>
											<td>승인</td>
											<td><a href="" type="button"><span
													class="badge badge-primary">사용취소</span></a></td>
										</tr>
										<tr>
											<td>2021/02/01</td>
											<td>현대아울렛 대전점</td>
											<td>송강철</td>
											<td>20시간권</td>
											<td>2</td>
											<td>-</td>
											<td>-</td>
											<td>승인</td>
											<td><a href="" type="button"><span
													class="badge badge-primary">사용취소</span></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Zero Configuration  Ends-->
		</div>
	</div>
</th:block>
</html>