<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/memberListScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-3 col-md-6">
                                    <div class="prooduct-details-box">
                                        <div class="media">
                                        	<img class="align-self-center img-fluid img-60" th:src="@{/assets/images/ecommerce/product-table-6.png}" alt="#">
                                            <div class="media-body ml-3">
                                                <div class="product-name">
                                                    <h6><a href="#">보호자 회원</a></h6>
                                                </div>
                                                <div class="price d-flex">
                                                    <div class="text-muted mr-2">전체</div><span th:text="|: ${countInfo.memberParentCount}명|"></span>
                                                </div>
                                                <div class="avaiabilty">
                                                    <div class="text-success">CREVILL</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="prooduct-details-box">
                                        <div class="media">
                                        	<img class="align-self-center img-fluid img-60" th:src="@{/assets/images/ecommerce/product-table-6.png}" alt="#">
                                            <div class="media-body ml-3">
                                                <div class="product-name">
                                                    <h6><a href="#">아동 회원</a></h6>
                                                </div>
                                                <div class="price d-flex">
                                                    <div class="text-muted mr-2">전체</div><span th:text="|: ${countInfo.memberChildrenCount}명|"></span>
                                                </div>
                                                <div class="avaiabilty">
                                                    <div class="text-success">CREVILL</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="prooduct-details-box">
                                        <div class="media">
                                        	<img class="align-self-center img-fluid img-60" th:src="@{/assets/images/ecommerce/product-table-6.png}" alt="#">
                                            <div class="media-body ml-3">
                                                <div class="product-name">
                                                    <h6><a href="#">바우처 고객</a></h6>
                                                </div>
                                                <div class="price d-flex">
                                                    <div class="text-muted mr-2">전체</div><span th:text="|: ${countInfo.voucherMemberCount}명|"></span>
                                                </div>
                                                <div class="avaiabilty">
                                                    <div class="text-success">CREVILL</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="prooduct-details-box">
                                        <div class="media">
                                        	<img class="align-self-center img-fluid img-60" th:src="@{/assets/images/ecommerce/product-table-6.png}" alt="#">
                                            <div class="media-body ml-3">
                                                <div class="product-name">
                                                    <h6><a href="#">NV회원</a></h6>
                                                </div>
                                                <div class="price d-flex">
                                                    <div class="text-muted mr-2">전체</div><span th:text="|: ${countInfo.nvMemberCount}명|"></span>
                                                </div>
                                                <div class="avaiabilty">
                                                    <div class="text-success">CREVILL</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="container-fluid">
            <div class="row">
				<div class="col-lg-3">
					<select id="storeId" name="storeId" class="form-control btn-square">
						<th:block th:if="${session.staffVo.storeId == 'CST00001'}">
						<option value="">전체</option>
						</th:block>
						<option th:each="list : ${storeList}" th:value="${list.storeId}" th:text="${list.storeNameShort}" th:selected="${list.storeId == storeId}"></option>
					</select>
				</div>
			</div><br>
			<div class="row">
				<!-- Zero Configuration  Starts-->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="display" id="basic-1">
									<thead>
										<tr>
											<th>고객QR</th>
											<th>고객명</th>
											<th>상태</th>
											<th>가입일</th>
											<th>전화번호</th>
											<th>주소</th>
											<th>바우처보유</th>
											<th>바우처등록매장</th>
											<!--<th>최근방문매장</th>-->
											<th>회원정보</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="memberList : ${memberList}">
											<td th:text="${memberList.qrCode}"></td>
											<td th:text="${memberList.name}"></td>
											<td th:text="${memberList.status}"></td>
											<td th:text="${memberList.regDate}"></td>
											<td th:text="${memberList.cellPhone}"></td>
											<td th:text="${memberList.address}"></td>
											<td th:text="${memberList.voucherCount}"></td>
											<td th:text="${memberList.voucherStoreName}"></td>
											<!--<td th:text="${memberList.storeName}"></td>-->
											<td>
												<span class="badge badge-primary" th:attr="onclick=|updateMemberInfo('${memberList.qrCode}')|"><font style="cursor: hand;">정보수정</font></span>
												<th:block th:if="${memberList.voucherCount != '0'}">
												<span class="badge badge-secondary" th:attr="onclick=|memberVoucherUseList('${memberList.cellPhone}')|"><font style="cursor: hand;">바우처 사용이력</font></span>
												</th:block>
												<th:block th:if="${memberList.status != 'Inactive'}">
												<a href="" type="button" th:attr="onclick=|deleteMemberInfo('${memberList.qrCode}','${memberList.cellPhone}')|">
													<span class="badge badge-warning">탈퇴</span>
												</a>
												</th:block>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Zero Configuration  Ends-->
		</div>
	</div>
</th:block>
</html>