<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default(scriptName='/assets/js/crevill/memberVoucherUseListScript.js')}">

<th:block layout:fragment="content">
    <div class="page-body" id="page-body">
        <th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <input type="hidden" id="cellPhone" name="cellPhone" th:value="${cellPhone}">
            <div class="row">
                <!-- Zero Configuration  Starts-->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="job-search">
                            <div class="card-body">
                                <div class="media"><img class="img-40 img-fluid m-r-20"
                                        src="../assets/images/job-search/2.jpg" alt="">
                                    <div class="media-body">
                                        <h6 class="f-w-600" th:text="${memberName}"><a href="#"></a><span
                                                class="badge badge-primary pull-right">바우처회원</span></h6>
                                        <p>010-3024-2890</p>
                                        <!--회원의 등급 및 전화번호-->
                                    </div>
                                </div><br>
                                <select class="form-control form-control-sm" id="voucherNo" name="voucherNo">
                                    <option th:each="voucherList : ${voucherList}"
                                        th:text="|${voucherList.ticketName} / 잔여 : ${voucherList.timeLeftHour}|"
                                        th:value="${voucherList.voucherNo}"
                                        th:selected="${voucherList.voucherNo == voucherNo}">
                                    </option>
                                </select><br>
                                <span class="badge bg-primary">만료일 2021-09-08</span>
                                <!--만료일 표시-->
                                <span class="badge bg-danger">만료됨 2021-04-05</span>
                                <!--만료일 경과 시-->
                                <span type="button" class="badge bg-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</span>

                                 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                                            <input type="text" class="form-control" id="recipient-name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="col-form-label">Message:</label>
                                            <textarea class="form-control" id="message-text"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Send message</button>
                                </div>
                            </div>
                        </div>
                    </div>

                            </div>  
                        </div>
                    </div>
                
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display" id="basic-1">
                                <thead>
                                    <tr>
                                        <th>날짜</th>
                                        <th>매장</th>
                                        <th>이용자(자녀)</th>
                                        <th>바우처명</th>
                                        <th>이용클래스</th>
                                        <th>사용시간</th>
                                        <th>튜터링사용시간</th>
                                        <th>사용취소</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="list : ${list}">
                                        <td th:text="${list.regDate}"></td>
                                        <td th:text="${list.storeName}"></td>
                                        <td th:text="${list.childName}"></td>
                                        <td th:text="${list.ticketName}"></td>
                                        <th:block
                                            th:if="*{list.useTutoringTime !=null and #strings.length(list.useTutoringTime) > 0}">
                                            <td>&nbsp;</td>
                                        </th:block>
                                        <th:block
                                            th:unless="*{list.useTutoringTime !=null and #strings.length(list.useTutoringTime) > 0}">
                                            <td th:text="${list.playName}"></td>
                                        </th:block>
                                        <td th:text="${list.useTime}"></td>
                                        <td th:text="${list.useTutoringTime}"></td>
                                        <td>
                                            <th:block th:if="${list.status == '02'}">
                                                <a href="" type="button"
                                                    th:attr="onclick=|deleteVoucherUseInfo('${list.reservationId}','${list.cellPhone}','${list.voucherNo}','${list.voucherUseId}')|">
                                                    <span class="badge badge-warning">이용취소</span>
                                                </a>
                                            </th:block>
                                            <th:block th:unless="${list.status == '02'}">
                                                <span class="badge badge-danger">취소완료</span>
                                            </th:block>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    
    </div>
    </div>
</th:block>

</html>