<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default(scriptName='/assets/js/crevill/storeProgramScript.js')}">
<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<div class="container-fluid">
			<form class="form theme-form" id="storeProgramForm" @submit.prevent="validateBeforeSubmit" action="/storeProgram/regist.proc" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<form class="form theme-form">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label for="palyId">연관클래스</label>
											<select class="form-control form-control-lg" id="chainClass" name="chainClass" v-validate="'required'">
												<option th:each="list : ${playList}" th:value="${list.playId}" th:text="${list.name}"></option>
											</select>
											<label class="col-form-label-sm" for="chainClass" v-if="errors.has('chainClass')">{{ errors.first('chainClass') }}</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="programName">프로그래명</label>
											<input class="form-control form-control-lg" id="programName" name="programName" type="text" placeholder="프로그래명" v-validate="'required'">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="programContents">내용</label>
											<input class="form-control form-control-lg" id="programContents" name="programContents" type="text" placeholder="내용" v-validate="'required'">
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>이미지 등록</h5>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">썸네일</label>
										<div class="col-sm-9">
											<input class="form-control" type="file" id="thumbnail" name="thumbnail">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">프로그램사진</label>
										<div class="col-sm-9">
											<input class="form-control" type="file" id="picture" name="picture">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">프로그램교안</label>
										<div class="col-sm-9">
											<input class="form-control" type="file" id="teachingPlanImg" name="teachingPlanImg">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<button class="btn btn-primary" type="submit">등록</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</th:block>
</html>