<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/voucherMemberStatScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
	            <div class="col-sm-12">
	                <div class="card">
	                    <div class="card-body btn-showcase">
	                        <button class="btn btn-square btn-outline-primary" type="button">고객구성비</button>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="form-group row">
	            <div class="col-lg-2">
	                <input class="datepicker-here form-control" type="text" data-range="true" id="searchDate"
	                	   data-multiple-dates-separator=" ~ " data-language="en"  data-date-format='yyyy-mm-dd'>
	            </div>
	            <button class="btn btn-primary" type="button" id="searchBtn">기간검색</button>
	        </div>
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="card">
	                    <div class="card-header">
	                        <h5>고객구성비</h5>
	                    </div>
	                    <div class="card-body">
	                        <div class="dt-ext table-responsive">
	                            <table class="display export-button">
	                                <thead>
	                                    <tr style="align:center;">
	                                        <th>지점</th>
	                                        <th>조회일수(날짜count)</th>
	                                        <th>바우처 입장고객</th>
	                                        <th>비회원 입장고객</th>
	                                        <th>1회권 입장고객</th>
	                                        <th>합계</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr style="align:center;" th:each="list : ${memberStatList}">
	                                        <td th:text="${list.storeName}"></td>
	                                        <td th:text="${list.diffDate}"></td>
	                                        <td th:text="${list.voucherMemberCount}"></td>
	                                        <td th:text="${list.nonMemberCount}"></td>
	                                        <td th:text="${list.shortVoucherMemberCount}"></td>
	                                        <td th:text="${list.totalMemberCount}"></td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
		<!-- Container-fluid Ends-->
	</div>
</th:block>
</html>