<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default(scriptName='/assets/js/crevill/voucherSaleScript.js')}">

<th:block layout:fragment="content">
    <div class="page-body" id="page-body">
        <th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <form class="form theme-form" id="voucherSaleForm" @submit.prevent="validateBeforeSubmit"
                action="/voucher/voucherSale.proc" method="post" enctype="multipart/form-data">
                <div class="col-sm-12 col-xl-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="buyCellPhone">고객전화번호 입력</label>
                                    <input class="form-control form-control-sm" v-validate="'required'" id="buyCellPhone" name="buyCellPhone" type="number" placeholder="전화번호">
                                    <label class="col-form-label-sm" for="buyCellPhone" v-if="errors.has('buyCellPhone')">{{ errors.first('buyCellPhone') }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer">
                            <button class="btn btn-primary btn-block" id="searchMemberNameBtn" type="button">검색</button>
                        </div>
                    </div>
                </div>

                <p id="searchResultName"></p>
                <div class="col-sm-12 col-xl-12">
                    <div class="card">
                        <div class="job-search">
                            <div class="card-body">
                                <div class="media">
                                <img class="img-40 img-fluid m-r-20" th:src="@{/assets/images/job-search/2.jpg}" alt="">
                                    <template v-for="(item, index) in memberInfo">
	                                    <div class="media-body">
	                                        <h6 class="f-w-600">
		                                        <a href="#">{{item.name}} 회원</a>
		                                        <span class="badge badge-primary pull-right">{{item.memberType}}회원</span>
	                                        </h6>
	                                        <p>{{item.cellPhone}}</p>
	                                    </div>
	                                    <input type="hidden" id="memberStoreId" name="memberStoreId" :value="item.storeId">
                                    </template>
                                </div>
                                <p>바우처보유 :
                                	<span id="voucherListSpan"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xl-12">
                    <div class="card-body">
                        <div class="row">
                            <label for="storeId">바우처 이용매장선택</label>
                            <select class="form-control form-control-sm" id="storeId" name="storeId">
                            </select>
                        </div><br>
<!--                         <div class="row"> -->
<!--                             <label for="gradeType">바우처 구분</label> -->
<!--                             <select class="form-control form-control-sm" id="gradeType" name="gradeType"> -->
<!--                                 <option value="ANON">무기명</option> -->
<!--                                 <option value="REGIST">기명</option> -->
<!--                             </select> -->
<!--                         </div> -->
                        <div class="row">
                            <div class="card-body megaoptions-border-space-sm">
                                <div class="row" id="voucherListDiv">
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <label for="usedChildrenName">기명일 경우 회원의[아동선택]</label>
                            <select class="form-control form-control-sm" id="usedChildrenName" name="usedChildrenName">
                            </select>
                        </div><br>
                        <div class="row">
                            <label for="pgType">결제구분</label>
                            <select class="form-control form-control-sm" id="pgType" name="pgType">
                                <option value="DEPT">백화점</option>
                                <option value="ROAD">로드샵 신용카드</option>
                                <option value="CASH">현금영수증</option>
                            </select>
                        </div><br>
                        <div class="row">
                            <label class="col-form-label-sm" for="promotionId">프로모션입력</label>
                            <select class="form-control form-control-sm" id="promotionId" name="promotionId">
                            </select>
                        </div><br>
                        <div class="row">
                            <label class="col-form-label-sm" for="colFormLabelSm26">승인번호입력</label>
                            <input class="form-control form-control-sm" id="approvalNo" name="approvalNo" type="text" placeholder="승인번호 입력[향후 환불처리 시 필요">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block" type="submit">바우처 판매등록</button>
                </div><br><br>
            </form>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</th:block>

</html>