<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<!-- Individual column searching (text inputs) Starts-->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive product-table">
								<table class="display" id="basic-1">
									<thead>
										<tr>
											<th>대표이미지</th>
											<th>매장정보</th>
											<th>운영정보</th>
											<th>운영상태</th>
											<th>원어민</th>
											<th>휴일</th>
											<th>전화번호</th>
											<th>운영클래스</th>
											<th>관리</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${list}">
											<td><img th:src="@{/common/getImage(imageIdx=${list.thumbnailImageIdx})}"></td>
											<td>
												<h6 th:text="${list.storeName}"></h6>
												<span th:text="${list.address}"></span>
											</td>
											<td th:text="${list.storeType}"></td>
											<td th:text="${list.storeStatus}"></td>
											<td class="font-success"></td>
											<td th:text="${list.closeDay}"></td>
											<td th:text="${list.telNo}"></td>
											<td th:text="${list.playName}"></td>
											<td>
												<button class="btn btn-danger btn-xs" type="button"
													data-original-title="btn btn-danger btn-xs" title="">삭제</button>
												<button class="btn btn-success btn-xs" type="button"
													data-original-title="btn btn-danger btn-xs" title="">수정</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</th:block>
</html>