<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/storeUpdateScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<form class="form theme-form" id="storeForm" @submit.prevent="validateBeforeSubmit" action="/store/regist.proc" method="post" enctype="multipart/form-data">
		<input type="hidden" id="storeId" name="storeId" th:value="${info.storeId}">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="storeType">운영형태</label>
										<select class="form-control form-control-lg" id="storeType" name="storeType">
											<option th:each="storeType : ${storeType}" th:text="${storeType.codeValue}" th:value="${storeType.codeKey}" th:selected="${storeType.codeKey} == ${info.storeType}"></option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="storeName">매장명[간판]</label>
										<input class="form-control form-control-lg" v-validate="'required'" id="storeName" name="storeName" type="text" placeholder="매장명[간판]" th:value="${info.storeName}">
										<label class="col-form-label-sm" for="storeName" v-if="errors.has('storeName')">{{ errors.first('storeName') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="storeNameReg">매장명[사업자등록상]</label>
										<input class="form-control form-control-lg" v-validate="'required'" id="storeNameReg" name="storeNameReg" type="text" placeholder="매장명[사업자등록상]" th:value="${info.storeNameReg}">
										<label class="col-form-label-sm" for="storeNameReg" v-if="errors.has('storeNameReg')">{{ errors.first('storeNameReg') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="registrationNumber">사업자등록번호</label>
										<input class="form-control form-control-lg" v-validate="'required'" id="registrationNumber" name="registrationNumber" type="text" placeholder="사업자등록번호" th:value="${info.registrationNumber}">
										<label class="col-form-label-sm" for="registrationNumber" v-if="errors.has('registrationNumber')">{{ errors.first('registrationNumber') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="telNo">전화번호</label>
										<input class="form-control form-control-lg" v-validate="'required|numeric|min:10|max:14'" id="telNo" name="telNo" type="text" placeholder="전화번호" th:value="${info.telNo}">
										<label class="col-form-label-sm" for="telNo" v-if="errors.has('telNo')">{{ errors.first('telNo') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="ceo">대표자</label>
										<input class="form-control" v-validate="'required'" id="ceo" name="ceo" type="text" placeholder="대표자" th:value="${info.telNo}">
										<label class="col-form-label-sm" for="ceo" v-if="errors.has('ceo')">{{ errors.first('ceo') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="address">주소</label>
										<input class="col-form-label-sm" type="text" id="postcode" placeholder="우편번호">
										<input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
										<input type="text" v-validate="'required'" id="roadAddress" name="roadAddress" placeholder="도로명주소" th:value="${info.roadAddress}">
										<span id="guide" style="color:#999;display:none"></span>
										<input type="text" v-validate="'required'" id="detailAddress" name="detailAddress" placeholder="상세주소" th:value="${info.detailAddress}">
										<input type="text" id="extraAddress" placeholder="참고항목">
										<label class="col-form-label-sm" for="address" v-if="errors.has('roadAddress')">{{ errors.first('roadAddress') }}</label>
										<label class="col-form-label-sm" for="address" v-if="errors.has('detailAddress')">{{ errors.first('detailAddress') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="openDay">오픈일</label>
										<input class="form-control form-control-lg" v-validate="'required|numeric|min:8|max:8'" id="openDay" name="openDay" type="text" th:value="${info.openDay}">
										<label class="col-form-label-sm" for="openDay" v-if="errors.has('openDay')">{{ errors.first('openDay') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="closeDay">휴무일</label>
										<select class="form-control form-control-lg" id="closeDay" name="closeDay">
											<option value="NON" th:selected="${info.closeDay} == 'NON'">없음</option>
											<option value="MON" th:selected="${info.closeDay} == 'MON'">월요일</option>
											<option value="TUE" th:selected="${info.closeDay} == 'TUE'">화요일</option>
											<option value="WED" th:selected="${info.closeDay} == 'WED'">수요일</option>
											<option value="THU" th:selected="${info.closeDay} == 'THu'">목요일</option>
											<option value="FRI" th:selected="${info.closeDay} == 'FRI'">금요일</option>
											<option value="SAT" th:selected="${info.closeDay} == 'SAT'">토요일</option>
											<option value="SUN" th:selected="${info.closeDay} == 'SUN'">일요일</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group m-t-15 m-checkbox-inline mb-0">
										<label class="col-form-label-sm" for="storePlay">수업</label>
<!-- 										<div class="checkbox checkbox-dark" th:each="playList, i: ${playList}"> -->
<!-- 											<input v-validate="'required'" th:id="'storePlay' + ${i.index}" type="checkbox" name="storePlay" th:value="${playList.playId}"> -->
<!-- 											<label th:for="'storePlay' + ${i.index}" th:text="${playList.name}"></label> -->
<!-- 										</div> -->
										<div class="checkbox checkbox-dark" th:each="playList, i: ${playList}">
											<input v-validate="'required'" th:id="'storePlay' + ${i.index}" type="checkbox" name="storePlay" th:value="${playList.codeKey}" th:checked="${#strings.contains(playKeyList,playList.codeKey)}">
											<label th:for="'storePlay' + ${i.index}" th:text="${playList.codeValue}"></label>
											<div th:text="${isExist}"></div>
										</div>
										<label class="col-form-label-sm" for="storePlay" v-if="errors.has('storePlay')">{{ errors.first('storePlay') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group m-t-15 m-checkbox-inline mb-0">
										<label class="col-form-label-sm" for="experienceClass">체험수업</label>
										<div class="checkbox checkbox-dark">
											<input type="checkbox" id="experienceClass" name="experienceClass" value="Y" th:checked="${info.experienceClass == 'Y'}">
											<label for="experienceClass"></label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5>필수서류수정</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">사업자등록증</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.registrationCertificateIdx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="registrationCertificate" name="registrationCertificate" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">놀이시설인증서</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.playgroundCertificateIdx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="playgroundCertificate" name="playgroundCertificate" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">보험증서</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.insuranceCertificateIdx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="insuranceCertificate" name="insuranceCertificate" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">스케쥴이미지</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.etcFile1Idx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="etcFile1" name="etcFile1" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">시간표</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.etcFile2Idx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="etcFile2" name="etcFile2" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">기타서류3</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.etcFile3Idx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="etcFile3" name="etcFile3" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">기타서류4</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.etcFile4Idx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="etcFile4" name="etcFile4" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5>매장사진수정</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">대표사진[모바일thumnail 이미지]</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.thumbnailImageIdx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="thumbnailImage" name="thumbnailImage" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">매장사진1</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.image1Idx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="image1" name="image1" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">매장사진2</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.image2Idx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="image2" name="image2" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">매장사진3</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.image3Idx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="image3" name="image3" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">매장사진4</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.image4Idx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="image4" name="image4" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">매장사진5</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.image5Idx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="image5" name="image5" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">매장사진6</label>
								<div class="col-sm-9">
									<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.image6Idx})}" style="width: 10%;float: left;">
									<input class="form-control" type="file" id="image6" name="image6" style="width: 90%;">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-primary" type="submit">수정</button>
					<input class="btn btn-light" type="reset" value="취소" onclick="cancel();">
				</div>
			</div>
		</div>
		</form>
	</div>
</th:block>
</html>