<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
	<div class="page-header">
		<div class="header-wrapper row m-0">
			<form class="form-inline search-full" action="#" method="get">
				<div class="form-group w-100">
					<div class="Typeahead Typeahead--twitterUsers">
						<div class="u-posRelative">
							<input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Cuba .." name="q" title="" autofocus>
							<div class="spinner-border Typeahead-spinner" role="status">
								<span class="sr-only">로딩중...</span>
							</div>
							<i class="close-search" data-feather="x"></i>
						</div>
						<div class="Typeahead-menu"></div>
					</div>
				</div>
			</form>
			<div class="header-logo-wrapper">
				<div class="logo-wrapper">
					<a href="index.html">
						<img class="img-fluid" th:src="@{/assets/images/logo/logo.png}" alt="">
					</a>
				</div>
				<div class="toggle-sidebar">
					<i class="status_toggle middle sidebar-toggle" data-feather="sliders"></i>
				</div>
			</div>
			<div class="left-header col horizontal-wrapper pl-0">
				<ul class="horizontal-menu">
					<li class="mega-menu outside">
						<th:block th:if="${session.staffVo.storeId == 'CST00001' OR session.staffVo.storeId == 'ADMIN'}">
							<a class="nav-link" href="#!">
								<i data-feather="layers"></i>
								<span>업무</span>
							</a>
						</th:block>
						<div class="mega-menu-container nav-submenu menu-to-be-close">
							<div class="container-fluid">
								<div class="row">
									<div class="col mega-box">
										<div class="mobile-title d-none">
											<h5>메뉴</h5>
											<i data-feather="x"></i>
										</div>
										<div class="col mega-box">
											<div class="link-section">
												<div>
													<h6>회원업무</h6>
												</div>
												<ul class="svg-icon">
													<li>
														<a href="/member/list.view">
															<i data-feather="user-check"></i>회원관리
														</a>
													</li>
													<li>
														<a href="/member/join.view">
															<i data-feather="user-plus"></i>회원등록
														</a>
													</li>
													<li>
														<a href="javascript:alert('준비중인 메뉴입니다.')">
															<i data-feather="message-square"></i>문의사항
														</a>
													</li>
													<li>
														<a href="javascript:alert('준비중인 메뉴입니다.')">
															<i data-feather="flag"></i>체험신청리스트
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col mega-box">
										<div class="mobile-title d-none">
											<h5>메뉴</h5>
											<i data-feather="x"></i>
										</div>
										<div class="col mega-box">
											<div class="link-section">
												<div>
													<h6>예약업무</h6>
												</div>
												<ul class="svg-icon">
													<li>
														<a href="/reservation/list.view">
															<i data-feather="clock"> </i>예약리스트
														</a>
													</li>
													<li>
														<a href="/reservation/search.view">
															<i data-feather="clipboard"> </i>당일예약현황
														</a>
													</li>
													<li>
														<a href="/reservation/regist.view">
															<i data-feather="file-plus"></i>예약등록
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col mega-box">
										<div class="mobile-title d-none">
											<h5>메뉴</h5>
											<i data-feather="x"></i>
										</div>
										<div class="col mega-box">
											<div class="link-section">
												<div>
													<h6>지점업무</h6>
												</div>
												<ul class="svg-icon">
													<li>
														<a href="/store/list.view">
															<i data-feather="home"></i>지점관리
														</a>
													</li>
													<li>
														<a href="/store/regist.view">
															<i data-feather="plus-circle"></i>지점등록
														</a>
													</li>
													<li>
														<a href="/play/list.view">
															<i data-feather="play"></i>플레이리스트
														</a>
													</li>
													<li>
														<a href="/play/master.view">
															<i data-feather="plus-circle"></i>플레이등록
														</a>
													</li>
													<li>
														<a href="/voucher/list.view">
															<i data-feather="hard-drive"></i>바우처리스트
														</a>
													</li>
													<li>
														<a href="/voucher/create.view">
															<i data-feather="paperclip"></i>바우처생성
														</a>
													</li>
													<li>
														<a href="/voucher/sale.view">
															<i data-feather="shopping-bag"></i>바우처판매
														</a>
													</li>
													<li>
														<a href="/voucher/saleList.view">
															<i data-feather="hard-drive"></i>바우처 판매리스트
														</a>
													</li>
													<li>
														<a href="javascript:alert('준비중인 메뉴입니다.')">
															<i data-feather="hard-drive"></i>전지점 바우처 판매현황
														</a>
													</li>
													<li>
														<a href="/promotion/regist.view">
															<i data-feather="gift"></i>프로모션등록
														</a>
													</li>
													<li>
														<a href="/promotion/list.view">
															<i data-feather="hard-drive"></i>프로모션리스트
														</a>
													</li>
													<li>
														<a href="/storeProgram/regist.view">
															<i data-feather="tv"></i>프로그램등록
														</a>
													</li>
													<li>
														<a href="/storeProgram/list.view">
															<i data-feather="hard-drive"></i>프로그램리스트
														</a>
													</li>
													<li>
														<a href="/branches/headquarterWrite.view">
															<i data-feather="mic"></i>본사공지
														</a>
													</li>
													<li>
														<a href="/branches/headquarterList.view">
															<i data-feather="hard-drive"></i>본사공지리스트
														</a>
													</li>
													<li>
														<a href="/branches/noticeWrite.view">
															<i data-feather="edit-2"></i>공지작성
														</a>
													</li>
													<li>
														<a href="/branches/noticeList.view">
															<i data-feather="book-open"></i>공지리스트
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col mega-box">
										<div class="mobile-title d-none">
											<h5>메뉴</h5>
											<i data-feather="x"></i>
										</div>
										<div class="col mega-box">
											<div class="link-section">
												<div>
													<h6>직원업무</h6>
												</div>
												<ul class="svg-icon">
													<li>
														<a href="/staff/regist.view">
															<i data-feather="user"></i>직원등록
														</a>
													</li>
													<li>
														<a href="javascript:alert('준비중인 메뉴입니다.')">
															<i data-feather="codepen"></i>근태조회
														</a>
													</li>
													<li>
														<a href="javascript:alert('준비중인 메뉴입니다.')">
															<i data-feather="hash"> </i>평점조회
														</a>
													</li>
													<li>
														<a href="/staff/list.view">
															<i data-feather="user"></i>직원리스트
														</a>
													</li>
													<li>
														<a href="/staff/nsRegist.view">
															<i data-feather="user"></i>원어민 등록
														</a>
													</li>
													<li>
														<a href="/staff/nsList.view">
															<i data-feather="cloud-drizzle"></i>원어민 리스트
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col mega-box">
										<div class="mobile-title d-none">
											<h5>메뉴</h5>
											<i data-feather="x"></i>
										</div>
										<div class="col mega-box">
											<div class="link-section">
												<div>
													<h6>설정</h6>
												</div>
												<ul class="svg-icon">
													<li>
														<a href="javascript:alert('준비중인 메뉴입니다.')">
															<i data-feather="home"></i>카카오챗봇
														</a>
													</li>
													<li>
														<a href="javascript:alert('준비중인 메뉴입니다.')">
															<i data-feather="plus-circle"></i>카카오알림톡
														</a>
													</li>
													<li>
														<a href="javascript:alert('준비중인 메뉴입니다.')">
															<i data-feather="activity"> </i>배너설정
														</a>
													</li>
													<li>
														<a href="javascript:alert('준비중인 메뉴입니다.')">
															<i data-feather="align-justify"></i>알림설정
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<th:block th:if="${session.staffVo.storeId == 'CST00001' OR session.staffVo.storeId == 'ADMIN'}">
					<li class="level-menu outside">
						<a class="nav-link" href="#!">
							<i data-feather="database"></i><span>데이터 통계</span>
						</a>
						<ul class="header-level-menu menu-to-be-close">
							<li>
								<a href="/voucher/stat.view" data-original-title="" title="">
									<i data-feather="edit-2"></i><span>바우처 통계 </span>
								</a>
							</li>
							<li>
								<a href="/voucher/stat.view" data-original-title="" title="">
								<i data-feather="minimize"></i><span>고객 구성비</span>
								</a>
							</li>
							<li>
								<a href="/voucher/stat.view" data-original-title="" title="">
									<i data-feather="play"></i><span>회원 이용률 </span>
								</a>
							</li>
						</ul>
					</li>
					</th:block>
				</ul>
			</div>
			<div class="nav-right col-8 pull-right right-header p-0">
				<ul class="nav-menus">
					<li class="onhover-dropdown">
						<div class="notification-box">
							<i data-feather="bell"></i>
							<span class="badge badge-pill badge-secondary" th:text="${#lists.size(alarmReservationList)}"></span>
						</div>
						<ul class="notification-dropdown onhover-show-div">
							<li>
								<i data-feather="bell"></i>
								<h6 class="f-18 mb-0">예약알림</h6>
							</li>
							<th:block th:if="${#lists.size(alarmReservationList) > 0}">
							<li th:each="list : ${alarmReservationList}">
								<p>
									<i class="fa fa-circle-o mr-3 font-primary"></i>
									<span th:text="|${list.customerName}님 예약요청|"></span> 
<!-- 									<span class="pull-right">카카오챗봇</span> -->
								</p>
							</li>
							</th:block>
							<th:block th:unless="${#lists.size(alarmReservationList) > 0}">
							<li>
								<p>
									<i class="fa fa-circle-o mr-3 font-primary"></i>
									<span>예약없음</span>
								</p>
							</li>
							</th:block>
							<li><a class="btn btn-primary" href="/reservation/list.view">예약요청리스트 바로가기</a></li>
						</ul>
					</li>
					<li>
						<div class="mode">
							<i class="fa fa-moon-o"></i>
						</div>
					</li>
					<!--<li class="onhover-dropdown"><i data-feather="message-square"></i>
						<ul class="chat-dropdown onhover-show-div">
							<li><i data-feather="message-square"></i>
								<h6 class="f-18 mb-0">문의사항</h6></li>
							<li>
								<div class="media">
									<img class="img-fluid rounded-circle mr-3"
										th:src="@{/assets/images/user/1.jpg}" alt="">
									<div class="status-circle online"></div>
									<div class="media-body">
										<span>OOO고객</span>
										<p>판교점 위치가 어디인가요? 답변 부탁합니다...</p>
									</div>
									<p class="f-12 font-success">58분 전</p>
								</div>
							</li>
							<li>
								<div class="media">
									<img class="img-fluid rounded-circle mr-3"
										th:src="@{/assets/images/user/1.jpg}" alt="">
									<div class="status-circle online"></div>
									<div class="media-body">
										<span>OOO고객</span>
										<p>판교점 위치가 어디인가요? 답변 부탁합니다...</p>
									</div>
									<p class="f-12 font-success">58분 전</p>
								</div>
							</li>
							<li>
								<div class="media">
									<img class="img-fluid rounded-circle mr-3"
										th:src="@{/assets/images/user/1.jpg}" alt="">
									<div class="status-circle online"></div>
									<div class="media-body">
										<span>OOO고객</span>
										<p>판교점 위치가 어디인가요? 답변 부탁합니다...</p>
									</div>
									<p class="f-12 font-success">58분 전</p>
								</div>
							</li>
							<li class="text-center"><a class="btn btn-primary" href="#">모두
									보기 </a></li>
						</ul></li>-->
					<li class="maximize"><a class="text-dark" href="#!"
						onclick="javascript:toggleFullScreen()"><i
							data-feather="maximize"></i></a></li>
					<li class="profile-nav onhover-dropdown p-0 mr-0">
						<div class="media profile-media">
							<img class="b-r-10" th:src="@{/common/getImage(imageIdx=${session.staffVo.idPictureIdx})}" alt="직원프로필사진" style="width: 37px;height: 37px;">
							<div class="media-body">
								<span th:text="${session.staffVo.name}"></span>
								<p class="mb-0 font-roboto" th:text="${session.staffVo.staffGradeName}"> 
									<i class="middle fa fa-angle-down"></i>
								</p>
							</div>
						</div>
						<ul class="profile-dropdown onhover-show-div">
<!-- 							<li><a href="#"><i data-feather="user"></i><span>계정</span></a></li> -->
<!-- 							<li><a href="#"><i data-feather="mail"></i><span>인트라넷</span></a></li> -->
<!-- 							<li><a href="#"><i data-feather="file-text"></i><span>업무목록</span></a></li> -->
							<li>
								<a href="/login/logout.view">
									<i data-feather="log-in"> </i><span>로그아웃</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<script class="result-template" type="text/x-handlebars-template">
            <div class="ProfileCard u-cf">                        
            <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
            <div class="ProfileCard-details">
            <div class="ProfileCard-realName">{{name}}</div>
            </div>
            </div>
        </script>
			<script class="empty-template" type="text/x-handlebars-template">
        	<div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
        </script>
		</div>
	</div>
</th:block>
</html>