<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
    <div class="sidebar-wrapper">
	    <div class="logo-wrapper">
	    	<a href="/">
	    		<img class="img-fluid for-light" th:src="@{/assets/images/logo/logo.png}" alt="">
	    		<img class="img-fluid for-dark" th:src="@{/assets/images/logo/logo_dark.png}" alt="">
	    	</a>
	        <div class="back-btn">
	        	<i class="fa fa-angle-left"></i>
	        </div>
	        <div class="toggle-sidebar">
	        	<i class="status_toggle middle sidebar-toggle" data-feather="grid"></i>
	        </div>
	    </div>
	    <div class="logo-icon-wrapper">
	    	<a href="index.html">
	    		<img class="img-fluid" th:src="@{/assets/images/logo/logo-icon.png}" alt="">
	    	</a>
	    </div>
	    <nav class="sidebar-main">
	        <div class="left-arrow" id="left-arrow">
	        	<i data-feather="arrow-left"></i>
	        </div>
	        <div id="sidebar-menu">
	            <ul class="sidebar-links custom-scrollbar">
	                <li class="back-btn">
	                	<a href="index.html">
	                		<img class="img-fluid" th:src="@{/assets/images/logo/logo-icon.png}" alt="">
	                	</a>
	                    <div class="mobile-back text-right">
	                    	<span>Back</span>
	                    	<i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
	                    </div>
	                </li>
	                <li class="sidebar-main-title">
	                    <div>
	                        <h6 th:text="${session.staffVo.storeName}"></h6>
	                        <p th:text="${session.staffVo.staffGradeName}"></p>
	                    </div>
	                </li>
	                <li class="sidebar-list">
	                    <label class="badge badge-success"></label>
	                    	<a class="sidebar-link sidebar-title" href="#">
	                    		<i data-feather="home"></i><span>고객입장</span>
	                    	</a>
	                    <ul class="sidebar-submenu">
	                        <li><a href="/entrance/member.view">입장</a></li>
	                        <li><a href="/entrance/nonMember.view">비회원입장</a></li>
	                        <li><a href="/entrance/nonMemberList.view">비회원입장리스트</a></li>
	                    </ul>
	                </li>
	                <li class="sidebar-list">
	                    <label class="badge badge-success"></label>
	                    	<a class="sidebar-link sidebar-title" href="#">
	                    		<i data-feather="home"></i><span>바우처업무</span>
	                    	</a>
	                    <ul class="sidebar-submenu">
	                    	<li><a href="/voucher/list.view">바우처 리스트</a></li>
	                        <li><a href="/voucher/create.view">바우처 생성</a></li>
	                        <li><a href="/voucher/sale.view">바우처 판매</a></li>
	                        <li><a href="">바우처 판매현황</a></li>
	                    </ul>
	                </li>
	                <li class="sidebar-list">
	                	<a class="sidebar-link sidebar-title" href="#">
	                		<i data-feather="airplay"></i>
	                		<span>예약업무</span>
	                	</a>
	                    <ul class="sidebar-submenu">
	                        <li><a href="/reservation/search.view">예약조회</a></li>
	                        <li><a href="/reservation/list.view">예약리스트</a></li>
	                        <li><a href="/reservation/regist.view">예약등록</a></li>
	                    </ul>
	                </li>
	                <li class="sidebar-list">
	                	<a class="sidebar-link sidebar-title" href="#">
	                		<i data-feather="layout"></i>
	                		<span>지점업무</span>
	                	</a>
	                    <ul class="sidebar-submenu">
	                        <li><a href="/branches/headquarterWrite.view">본사공지</a></li>
	                        <li><a href="/branches/headquarterList.view">본사공지리스트</a></li>
	                        <li><a href="/branches/noticeList.view">공지리스트</a></li>
	                        <li><a href="/branches/noticeWrite.view">공지작성</a></li>
	                    </ul>
	                </li>
	                <li class="sidebar-list">
	                	<a class="sidebar-link sidebar-title" href="#">
	                		<i data-feather="layout"></i>
	                		<span>고객관리</span>
	                	</a>
	                    <ul class="sidebar-submenu">
	                        <li><a href="/member/list.view">고객리스트</a></li>
	                        <li><a href="/member/join.view">신규고객등록</a></li>
	                        <li><a href="/member/history.view">고객바우처사용이력</a></li>
	                    </ul>
	                </li>
	                <li class="sidebar-main-title">
	                    <div>
	                        <h6>CREVILL</h6>
	                        <p>ENGLISH ART & GROW</p>
	                    </div>
	                </li>
	                <li class="sidebar-list">
	                    <label class="badge badge-danger"></label>
	                    <a class="sidebar-link sidebar-title" href="#">
	                    	<i data-feather="box"></i>
	                    	<span>직원관리 </span>
	                    </a>
	                    <ul class="sidebar-submenu">
	                    	<li><a href="/staff/list.view">직원리스트</a></li>
	                    	<li><a href="/staff/regist.view">직원등록</a></li>
<!-- 	                        <li><a href="">근태기록</a></li> -->
	                        <li><a href="/staff/nsList.view">원어민리스트</a></li>
	                        <li><a href="/staff/nsRegist.view">원어민등록</a></li>
	                    </ul>
	                </li>
	                <li class="sidebar-list">
	                    <label class="badge badge-danger"></label>
	                    <a class="sidebar-link sidebar-title" href="#">
	                    	<i data-feather="box"></i>
	                    	<span>플레이관리 </span>
	                    </a>
	                    <ul class="sidebar-submenu">
	                    	<li><a href="/play/list.view">플레이리스트</a></li>
	                    	<li><a href="/play/master.view">플레이마스터</a></li>
	                    </ul>
	                </li>
	                <li class="sidebar-list">
	                    <label class="badge badge-danger"></label>
	                    <a class="sidebar-link sidebar-title" href="#">
	                    	<i data-feather="box"></i>
	                    	<span>스케쥴관리</span>
	                    </a>
	                    <ul class="sidebar-submenu">
	                    	<li><a href="/schedule/list.view">스케쥴조회</a></li>
	                    	<li><a href="/schedule/regist.view">스케쥴등록</a></li>
	                    </ul>
	                </li>
	                <li class="sidebar-list">
	                    <label class="badge badge-danger"></label>
	                    <a class="sidebar-link sidebar-title" href="#">
	                    	<i data-feather="box"></i>
	                    	<span>매장관리</span>
	                    </a>
	                    <ul class="sidebar-submenu">
	                    	<li><a href="/store/list.view">매장리스트</a></li>
	                    	<li><a href="/store/regist.view">매장등록</a></li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	        <div class="right-arrow" id="right-arrow">
	        	<i data-feather="arrow-right"></i>
	        </div>
	    </nav>
	</div>
</th:block>
</html> 	