<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="topIconMenuFragment(menu)">
	<div class="container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-6">
					<h3 th:text="${menu.menuName}"></h3>
				</div>
				<div class="col-6">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a th:href="${menu.homeLink}">
								<i data-feather="home"></i>
							</a>
						</li>
						<li class="breadcrumb-item" th:text="${menu.upperMenu}"></li>
						<li class="breadcrumb-item active" th:text="${menu.currentMenu}"></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
