<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/entranceNonMemberScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid credit-card">
			<form class="form theme-form" id="nonMemberForm" @submit.prevent="validateBeforeSubmit" action="/entrance/nonMemberEntrance.proc" method="post" enctype="multipart/form-data">
			<input type="hidden" id="playTime" name="playTime" th:value="${list?.playTime}">
			<input type="hidden" id="voucherTime" name="voucherTime" th:value="${list?.voucherTime}">
			<div class="row">
				<div class="col-xl-8 box-col-12">
					<div class="card">
						<div class="card-header py-4">
							<h5>비회원 정보</h5>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input class="form-control" type="text" v-validate="'required'" placeholder="성함[한글]" id="childName" name="childName">
										<label class="col-form-label-sm" for="childName" v-if="errors.has('childName')">{{ errors.first('childName') }}</label>
									</div>
									<div class="form-group">
										<input class="form-control" type="date" v-validate="'required'" placeholder="생년월일" id="childBirthday" name="childBirthday">
										<label class="col-form-label-sm" for="childBirthday" v-if="errors.has('childBirthday')">{{ errors.first('childBirthday') }}</label>
									</div>
									<div class="form-group">
										<select class="form-control" v-validate="'required|included:M,F'" size="1" id="childSex" name="childSex">
											<option value="">성별</option>
											<option value="M">남자</option>
											<option value="F">여자</option>
										</select>
										<label class="col-form-label-sm" for="childSex" v-if="errors.has('childSex')">{{ errors.first('childSex') }}</label>
									</div>
									<div class="form-group">
										<input class="form-control" type="number" placeholder="연락처" v-validate="'required|numeric|min:10|max:11'" id="cellPhone" name="cellPhone">
										<label class="col-form-label-sm" for="cellPhone" v-if="errors.has('cellPhone')">{{ errors.first('cellPhone') }}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 box-col-6 debit-card">
					<div class="card">
						<div class="card-header py-4">
							<h5>입장가능 클래스</h5>
						</div>
						<div class="card-body">
							<div class="form-group col-12 p-r-0">
								<select class="form-control" size="1" id="scheduleId" name="scheduleId">
									<th:block th:if="${list != null}">
									<option th:text="|[잔여 : ${list?.remainCount}]${list?.scheduleStart}|" th:value="${list?.scheduleId}"></option>
									</th:block>
									<th:block th:unless="${list != null}">
									<option>잔여시간 없음</option>
									</th:block>
								</select>
								<label class="col-form-label-sm" for="cellPhone" v-if="errors.has('cellPhone')">{{ errors.first('cellPhone') }}</label>
							</div>
							<div class="form-group col-12 p-r-0">
								<select class="form-control" size="1" id="playName" name="playName">
									<th:block th:if="${list != null}">
									<option th:text="|클래스 : ${list?.playName}|"></option>
									</th:block>
									<th:block th:unless="${list != null}">
									<option>잔여수업 없음</option>
									</th:block>
								</select>
								<label class="col-form-label-sm" for="playName" v-if="errors.has('playName')">{{ errors.first('playName') }}</label>
							</div>
							<div class="form-group col-12 p-r-0">
								<select class="form-control" size="1" id="voucherNo" name="voucherNo">
									<th:block th:each="voucherList : ${voucherList}">
										<option th:value="${voucherList?.voucherNo}" th:text="${voucherList?.ticketName}"></option>
									</th:block>
								</select>
								<label class="col-form-label-sm" for="voucherNo" v-if="errors.has('voucherNo')">{{ errors.first('voucherNo') }}</label>
							</div>
							<div class="form-group col-12 p-r-0">
								<select class="form-control" size="1" id="price" name="price">
									<th:block th:each="voucherList : ${voucherList}">
										<option th:if="${voucherList?.price != null}" th:value="${voucherList?.voucherNo}" th:text="|${voucherList?.price}원|"></option>
									</th:block>
								</select>
								<label class="col-form-label-sm" for="price" v-if="errors.has('price')">{{ errors.first('price') }}</label>
							</div>
							<div class="form-group col-12 p-r-0">
								<button class="btn btn-primary btn-block">입장</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</th:block>
</html>