<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.crevill.voucher.VoucherMapper">
	
	<select id="selectVoucherCount" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="Integer">
        SELECT COUNT(*)
          FROM VOUCHER
    </select>
	
	<select id="selectVoucherNo" resultType="String">
		SELECT CREATE_COUPON_NO(11,TRUE,FALSE,TRUE,0)
	</select>
	
    <select id="selectVoucherList" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
        SELECT VOUCHER_NO,
			   GRADE,
			   TICKET_NAME,
			   FORMAT(PRICE , 0) PRICE,
			   FORMAT(SALE_PRICE , 0) SALE_PRICE,
			   USE_TIME,
			   END_DATE,
			   REG_ID,
			   DATE_FORMAT(REG_DATE, '%Y-%m-%d') REG_DATE,
			   UPD_ID,
			   DATE_FORMAT(UPD_DATE, '%Y-%m-%d') UPD_DATE,
			   IMAGE_IDX,
			   (SELECT STORE_NAME FROM STORE WHERE STORE.STORE_ID = STORE_ID) STORE_NAME	
          FROM VOUCHER
        <where>
           <if test="gradeType != null and gradeType == 'REGIST'.toString()">
           AND GRADE = 'VIP_REGIST'
           </if>
           <if test="gradeType != null and gradeType == 'ANON'.toString()">
           AND GRADE IN ('VIP_ANON', 'NORMAL')
           </if>
        </where>
         LIMIT #{startPage}, #{recordsPerPage}
    </select>
    
    <select id="getVoucherList" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
        SELECT A.VOUCHER_NO,
			   A.GRADE,
			   A.TICKET_NAME,
			   FORMAT(A.PRICE , 0) PRICE,
			   FORMAT(A.SALE_PRICE , 0) SALE_PRICE,
			   A.USE_TIME,
			   CONCAT(A.END_DATE,'개월') END_DATE,
			   A.REG_ID,
			   DATE_FORMAT(A.REG_DATE, '%Y-%m-%d') REG_DATE,
			   A.UPD_ID,
			   DATE_FORMAT(A.UPD_DATE, '%Y-%m-%d') UPD_DATE,
			   A.IMAGE_IDX,
			   (SELECT GROUP_CONCAT(B.ATTRIBUTE SEPARATOR ',') FROM VOUCHER_ATTRIBUTE B WHERE A.VOUCHER_NO = B.VOUCHER_NO) ATTRIBUTE 
          FROM VOUCHER A
         <where>
           AND STATUS = '02'
           <if test="gradeType != null and gradeType == 'REGIST'.toString()">
           AND A.GRADE = 'VIP_REGIST'
           </if>
           <if test="gradeType != null and gradeType == 'ANON'.toString()">
           AND A.GRADE IN ('VIP_ANON', 'NORMAL')
           </if>
		 </where>           
    </select>
    	
	<select id="selectVoucherAttributeList" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
		SELECT VOUCHER_NO,
			   ATTRIBUTE,
			   REG_ID,
			   REG_DATE
          FROM VOUCHER_ATTRIBUTE
         WHERE VOUCHER_NO = #{voucherNo} 
	</select>
	
	<select id="getMemberVoucherList" parameterType="kr.co.crevill.voucher.VoucherSaleDto" resultType="kr.co.crevill.voucher.VoucherVo">
		SELECT A.VOUCHER_NO,
			   A.TICKET_NAME, 	
		       A.GRADE,
		       A.PRICE,
		       A.USE_TIME 
		  FROM VOUCHER A,
		       VOUCHER_SALE B,
		       VOUCHER_USE_VIEW C
		 WHERE A.VOUCHER_NO = B.VOUCHER_NO
		   AND B.VOUCHER_NO = C.VOUCHER_NO 
		   AND B.BUY_CELL_PHONE = #{buyCellPhone}
		   AND A.STATUS = '12'
		   AND (C.TIME_LEFT_HOUR = 'UNLIMITED' OR C.TIME_LEFT_HOUR  > 0)
	</select>
	
	<insert id="insertVoucher" parameterType="kr.co.crevill.voucher.VoucherDto">
    	INSERT INTO VOUCHER (
   						     VOUCHER_NO,
						     GRADE,
						     TICKET_NAME,
						     PRICE,
						     SALE_PRICE,
						     USE_TIME,
						     END_DATE,
						     REG_ID,
						     REG_DATE,
						     IMAGE_IDX,
						     STATUS,
						     STORE_ID								
   							)
					 VALUES (
							 #{voucherNo},
						     #{grade},
						     #{ticketName},
						     #{price},
						     #{salePrice},
						     #{useTime},
						     DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL #{endDate} MONTH), '%Y%m%d'),
						     #{regId},
						     NOW(),
						     #{imageIdx},
						     #{status},
						     #{storeId}
							)
    </insert>
	
	<insert id="insertVoucherAttribute" parameterType="kr.co.crevill.voucher.VoucherDto">
		INSERT INTO VOUCHER_ATTRIBUTE(
								      VOUCHER_NO,
									  ATTRIBUTE,
									  REG_ID,
									  REG_DATE
									 )
					      	  VALUES (
					      		      #{voucherNo},
								      #{attribute},
								      #{regId},
								      NOW()	
					      		     )			 
	</insert>
	
	<insert id="insertVoucherSale" parameterType="kr.co.crevill.voucher.VoucherSaleDto">
		INSERT INTO VOUCHER_SALE(
							     VOUCHER_NO,
								 BUY_CELL_PHONE,
								 USED_CHILDREN_NAME,
								 PG_TYPE,
								 APPROVAL_NO,
								 STORE_ID,
								 REG_ID,
								 REG_DATE
								)
					     VALUES (
				      		     #{voucherNo},       
								 #{buyCellPhone},    
								 #{usedChildrenName},
								 #{pgType},         
								 #{approvalNo},      
								 #{storeId},     
								 #{regId},
								 NOW()           	
					      		)			 
	</insert>
	
	<update id="updateVoucher" parameterType="kr.co.crevill.voucher.VoucherDto">
		UPDATE VOUCHER
		 <set>
	         <if test="grade != null">GRADE = #{grade},</if>
	         <if test="ticketName != null">TICKET_NAME = #{ticketName},</if>
	         <if test="price != null">PRICE = #{price},</if>
	         <if test="salePrice != null">SALE_PRICE = #{salePrice},</if>
	         <if test="useTime != null">USE_TIME = #{useTime},</if>
	         <if test="endDate != null">END_DATE = #{endDate},</if>
	         <if test="imageIdx != null">IMAGE_IDX = #{imageIdx},</if>
	         <if test="status != null">STATUS = #{status},</if>
	         UPD_ID = #{updId},
	         UPD_DATE = NOW(),
    	 </set>
       WHERE VOUCHER_NO = #{voucherNo} 	 		 
	</update>
	
	<update id="updateVoucherSale" parameterType="kr.co.crevill.voucher.VoucherSaleDto">
		UPDATE VOUCHER_SALE
		 <set>
	         <if test="buyCellPhone != null">BUY_CELL_PHONE = #{buyCellPhone},</if>
	         <if test="usedChildrenName != null">USED_CHILDREN_NAME = #{usedChildrenName},</if>
	         <if test="pgType != null">PG_TYPE = #{pgType},</if>
	         <if test="approvalNo != null">APPROVAL_NO = #{approvalNo},</if>
	         <if test="storeId != null">STORE_ID = #{storeId},</if>
	         <if test="buyCellPhone != null">BUY_CELL_PHONE = #{buyCellPhone},</if>
	         UPD_ID = #{updId},
	         UPD_DATE = NOW(),
    	 </set>		 
       WHERE VOUCHER_NO = #{voucherNo} 
	</update>
		
</mapper>