<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.crevill.voucher.VoucherMapper">
	
	<select id="selectVoucherCount" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="Integer">
        SELECT COUNT(*)
          FROM VOUCHER
    </select>
	
	<select id="selectVoucherNo" resultType="String">
<!-- 		SELECT CREATE_COUPON_NO(11,TRUE,FALSE,TRUE,0) -->
		SELECT GET_VOUCHER_NO()
	</select>
	
	<select id="selectVoucherProductNo" resultType="String">
		SELECT PRODUCT_NO_SEQ_NEXTVAL()
	</select>
	
	<select id="selectVoucherProductList" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
        SELECT PRODUCT_NO,
			   GRADE,
			   TICKET_NAME,
			   FORMAT(PRICE , 0) PRICE,
			   FORMAT(SALE_PRICE , 0) SALE_PRICE,
			   USE_TIME,
			   EXPIRE_MONTH,
			   REG_ID,
			   DATE_FORMAT(REG_DATE, '%Y-%m-%d') REG_DATE,
			   UPD_ID,
			   DATE_FORMAT(UPD_DATE, '%Y-%m-%d') UPD_DATE,
			   IMAGE_IDX,
			   (SELECT SUBSTRING_INDEX(STORE_NAME, ' ', - 1) FROM STORE S WHERE S.STORE_ID = VOUCHER_PRODUCT.STORE_ID) STORE_NAME_SHORT	
          FROM VOUCHER_PRODUCT
        <where>
           <if test="gradeType != null and gradeType == 'REGIST'.toString()">
           AND GRADE = 'VIP_REGIST'
           </if>
           <if test="gradeType != null and gradeType == 'ANON'.toString()">
           AND GRADE IN ('VIP_ANON', 'NORMAL')
           </if>
        </where>
    </select>
	
    <select id="selectVoucherList" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
        SELECT VOUCHER_NO,
			   GRADE,
			   TICKET_NAME,
			   FORMAT(PRICE , 0) PRICE,
			   FORMAT(SALE_PRICE , 0) SALE_PRICE,
			   USE_TIME,
			   END_DATE,
			   REG_ID,
			   DATE_FORMAT(REG_DATE, '%Y-%m-%d') REG_DATE,
			   UPD_ID,
			   DATE_FORMAT(UPD_DATE, '%Y-%m-%d') UPD_DATE,
			   IMAGE_IDX,
			   (SELECT STORE_NAME FROM STORE WHERE STORE.STORE_ID = VOUCHER.STORE_ID) STORE_NAME	
          FROM VOUCHER
        <where>
           AND STATUS != '05'
           <if test="gradeType != null and gradeType == 'REGIST'.toString()">
           AND GRADE = 'VIP_REGIST'
           </if>
           <if test="gradeType != null and gradeType == 'ANON'.toString()">
           AND GRADE IN ('VIP_ANON', 'NORMAL')
           </if>
        </where>
    </select>
    
    <select id="selectVoucherProductInfo" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
        SELECT A.PRODUCT_NO,
			   A.GRADE,
			   A.TICKET_NAME,
			   A.PRICE,
			   A.SALE_PRICE,
			   USE_TIME,
			   EXPIRE_MONTH,
			   CASE WHEN A.USE_TIME = '10000' THEN '0'
			        ELSE A.USE_TIME END AS VIEW_USE_TIME,
			   CASE WHEN A.EXPIRE_MONTH = '9999' THEN '0'
			        ELSE A.EXPIRE_MONTH END AS VIEW_END_DATE,
			   A.STORE_ID,     
			   A.REG_ID,
			   DATE_FORMAT(A.REG_DATE, '%Y-%m-%d') REG_DATE,
			   A.UPD_ID,
			   DATE_FORMAT(A.UPD_DATE, '%Y-%m-%d') UPD_DATE,
			   A.IMAGE_IDX,
			   (SELECT GROUP_CONCAT(B.ATTRIBUTE SEPARATOR ',') FROM VOUCHER_PRODUCT_ATTRIBUTE B WHERE A.PRODUCT_NO = B.PRODUCT_NO) ATTRIBUTE 
          FROM VOUCHER_PRODUCT A
         WHERE A.PRODUCT_NO = #{productNo}        
    </select>
    
    <select id="selectVoucherInfo" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
        SELECT A.VOUCHER_NO,
			   A.GRADE,
			   A.TICKET_NAME,
			   A.PRICE,
			   A.SALE_PRICE,
			   CASE WHEN A.USE_TIME = '10000' THEN '0'
			        ELSE A.USE_TIME END AS USE_TIME,
			   CASE WHEN A.END_DATE > '28000000' THEN '0'
			        ELSE TIMESTAMPDIFF(MONTH, DATE_FORMAT(A.REG_DATE, '%Y%m%d'), A.END_DATE) END AS END_DATE,
			   A.STORE_ID,     
			   A.REG_ID,
			   DATE_FORMAT(A.REG_DATE, '%Y-%m-%d') REG_DATE,
			   A.UPD_ID,
			   DATE_FORMAT(A.UPD_DATE, '%Y-%m-%d') UPD_DATE,
			   A.IMAGE_IDX,
			   (SELECT GROUP_CONCAT(B.ATTRIBUTE SEPARATOR ',') FROM VOUCHER_ATTRIBUTE B WHERE A.VOUCHER_NO = B.VOUCHER_NO) ATTRIBUTE 
          FROM VOUCHER A
         WHERE VOUCHER_NO = #{voucherNo}        
    </select>
    
    <select id="getVoucherList" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
        SELECT A.PRODUCT_NO,
			   A.GRADE,
			   A.TICKET_NAME,
			   FORMAT(A.PRICE , 0) PRICE,
			   FORMAT(A.SALE_PRICE , 0) SALE_PRICE,
			   A.USE_TIME,
			   CONCAT(A.EXPIRE_MONTH,'개월') END_DATE,
			   A.REG_ID,
			   DATE_FORMAT(A.REG_DATE, '%Y-%m-%d') REG_DATE,
			   A.UPD_ID,
			   DATE_FORMAT(A.UPD_DATE, '%Y-%m-%d') UPD_DATE,
			   A.IMAGE_IDX,
			   (SELECT GROUP_CONCAT(B.ATTRIBUTE SEPARATOR ',') FROM VOUCHER_PRODUCT_ATTRIBUTE B WHERE A.PRODUCT_NO = B.PRODUCT_NO) ATTRIBUTE,
			   A.STORE_ID 
          FROM VOUCHER_PRODUCT A
         <where>
           AND STATUS = 'A'
           <if test="gradeType != null and gradeType == 'REGIST'.toString()">
           AND A.GRADE = 'VIP_REGIST'
           </if>
           <if test="gradeType != null and gradeType == 'ANON'.toString()">
           AND A.GRADE IN ('VIP_ANON', 'NORMAL')
           </if>
           <if test="storeId != null and storeId != 'CST00001'.toString() and storeId != 'MOBILE'.toString()">
           AND A.STORE_ID = #{storeId}
           </if>
		 </where>           
    </select>
    	
	<select id="selectVoucherProductAttributeList" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
		SELECT PRODUCT_NO,
			   ATTRIBUTE,
			   REG_ID,
			   REG_DATE
          FROM VOUCHER_PRODUCT_ATTRIBUTE
         WHERE PRODUCT_NO = #{productNo} 
	</select>
	
	<select id="selectVoucherTimeInfo" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
		SELECT A.VOUCHER_NO,
		       A.TIME_LEFT_HOUR,
		       A.TIME_LEFT_MINUTE,
		       B.TICKET_NAME
		  FROM VOUCHER_USE_VIEW A,
		       VOUCHER B
		 WHERE VOUCHER_NO = #{voucherNo}
		   AND VOUCHER_NO = B.VOUCHER_NO
	</select>
	
	<select id="getMemberVoucherList" parameterType="kr.co.crevill.voucher.VoucherSaleDto" resultType="kr.co.crevill.voucher.VoucherVo">
		SELECT A.VOUCHER_NO,
			   A.TICKET_NAME, 	
		       A.GRADE,
		       A.PRICE,
		       A.USE_TIME,
		       D.NAME,
		       C.TIME_LEFT_HOUR,
		       A.STORE_ID,
		       (SELECT SUBSTRING_INDEX(S.STORE_NAME, ' ', - 1) FROM STORE S WHERE A.STORE_ID = S.STORE_ID) STORE_NAME_SHORT
		  FROM VOUCHER A,
		       VOUCHER_SALE B,
		       VOUCHER_USE_VIEW C,
		       MEMBER_CHILDREN D
		 WHERE A.VOUCHER_NO = B.VOUCHER_NO
		   AND B.VOUCHER_NO = C.VOUCHER_NO 
		   AND B.BUY_CELL_PHONE = #{buyCellPhone}
		   AND A.STATUS = '12'
		   AND C.TIME_LEFT_HOUR  > 0
		   AND B.BUY_CELL_PHONE = D.PARENT_CELL_PHONE	
		   <if test="storeId != null and storeId != 'CST00001'.toString()">
           AND A.STORE_ID = #{storeId}
           </if>
	  GROUP BY A.VOUCHER_NO	   
	</select>
	
	<select id="getMemberVoucherAllList" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
		SELECT A.VOUCHER_NO,
			   A.TICKET_NAME, 	
		       A.GRADE,
		       A.PRICE,
		       A.USE_TIME,
		       C.TIME_LEFT_HOUR,
       		   C.TIME_LEFT_MINUTE, 
		       D.NAME CHILD_NAME,
		       E.NAME,
		       DATE_FORMAT(STR_TO_DATE(A.END_DATE, '%Y%m%d'), '%Y-%m-%d') END_DATE,
		       CASE WHEN NOW() > STR_TO_DATE(A.END_DATE, '%Y%m%d') THEN 'END'
		            ELSE 'ING' END AS IS_VALID
		  FROM VOUCHER A,
		       VOUCHER_SALE B,
		       VOUCHER_USE_VIEW C,
		       MEMBER_CHILDREN D,
		       MEMBER_PARENT E
		 WHERE A.VOUCHER_NO = B.VOUCHER_NO
		   AND B.VOUCHER_NO = C.VOUCHER_NO 
		   AND B.BUY_CELL_PHONE = #{cellPhone}
		   AND B.BUY_CELL_PHONE = D.PARENT_CELL_PHONE
		   AND D.PARENT_CELL_PHONE = E.CELL_PHONE
	  GROUP BY A.VOUCHER_NO
	</select>
	
	<select id="getMemberVoucherUseList" parameterType="kr.co.crevill.voucher.VoucherSaleDto" resultType="kr.co.crevill.voucher.VoucherVo">
		SELECT R.RESERVATION_ID,
			   A.VOUCHER_NO,
			   C.VOUCHER_USE_ID,
			   D.CELL_PHONE,
		       C.REG_DATE,
		       (SELECT S.STORE_NAME FROM STORE S WHERE S.STORE_ID = F.STORE_ID) STORE_NAME,
		       E.NAME  CHILD_NAME,
		       A.TICKET_NAME,
		       G.NAME PLAY_NAME,
		       CASE WHEN R.TUTORING_YN = 'N' THEN CASE WHEN (C.USE_TIME % 60) != 0 THEN ROUND(C.USE_TIME / 60,1)
		       										   ELSE FORMAT((C.USE_TIME / 60),0) END 
		            ELSE '' END AS USE_TIME,
		       CASE WHEN R.TUTORING_YN = 'Y' THEN CASE WHEN (C.USE_TIME % 60) != 0 THEN ROUND(C.USE_TIME / 60,1)
		       										   ELSE FORMAT((C.USE_TIME / 60),0) END 
		            ELSE '' END AS USE_TUTORING_TIME,
		       R.STATUS
		  FROM VOUCHER A,
		  	   VOUCHER_SALE B,     
		  	   VOUCHER_USE C,
		       MEMBER_PARENT D,
		       MEMBER_CHILDREN E,
		       RESERVATION R,
		       SCHEDULE F LEFT JOIN PLAY G
		    ON F.PLAY_ID  = G.PLAY_ID
		 WHERE D.CELL_PHONE = #{cellPhone}
		   AND A.VOUCHER_NO = #{voucherNo}
		   AND A.VOUCHER_NO = B.VOUCHER_NO 
		   AND B.VOUCHER_NO = C.VOUCHER_NO 
		   AND B.BUY_CELL_PHONE = D.CELL_PHONE 
		   AND D.CELL_PHONE = E.PARENT_CELL_PHONE
		   AND R.SCHEDULE_ID = F.SCHEDULE_ID
		   AND R.RESERVATION_ID = C.RESERVATION_ID
		   AND R.VOUCHER_NO = A.VOUCHER_NO
      GROUP BY R.RESERVATION_ID
	</select>
	
	<select id="selectVoucherSaleList" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="kr.co.crevill.voucher.VoucherVo">
		SELECT DATE_FORMAT(A.REG_DATE, '%Y-%m-%d') SALE_DATE,
		       (SELECT SUBSTRING_INDEX(S.STORE_NAME, ' ', - 1) FROM STORE S WHERE S.STORE_ID = A.STORE_ID) STORE_NAME,
		       (SELECT SUBSTRING_INDEX(S.STORE_NAME, ' ', - 1) FROM STORE S WHERE S.STORE_ID IN (SELECT SI.STORE_ID FROM STAFF_INFO SI WHERE SI.STAFF_ID = A.REG_ID)) REG_STORE,
		       A.TICKET_NAME,
		       A.VOUCHER_NO,
		       C.NAME,
		       FORMAT(A.SALE_PRICE, 0) SALE_PRICE,
		       CASE WHEN LENGTH(C.CELL_PHONE) = 11 THEN CONCAT(SUBSTRING(C.CELL_PHONE,1,3),'-',SUBSTRING(C.CELL_PHONE,4,4),'-',SUBSTRING(C.CELL_PHONE,8,4))
				    ELSE CONCAT(SUBSTRING(C.CELL_PHONE,1,3),'-',SUBSTRING(C.CELL_PHONE,4,3),'-',SUBSTRING(C.CELL_PHONE,7,4)) END AS CELL_PHONE,
			   D.TIME_LEFT_HOUR,
			   CASE WHEN IFNULL(P.PROMOTION_VALUE, 0) = 0 THEN '없음'
			        WHEN P.PROMOTION_TYPE = 'ADD_TIME' THEN P.PROMOTION_VALUE
			        ELSE '추가시간 프로모션아님' END AS PROMOTION,
			   CASE WHEN IFNULL(P.PROMOTION_NAME, 0) = 0 THEN '없음'
			        ELSE P.PROMOTION_NAME END AS PROMOTION_NAME,			        
			   DATE_FORMAT(A.END_DATE, '%Y-%m-%d') END_DATE,
			   CASE WHEN A.END_DATE <![CDATA[ < ]]> DATE_FORMAT(NOW(), '%Y%m%d') THEN '만료' 
			   		WHEN A.STATUS = '04' THEN '정상'
		            WHEN A.STATUS = '08' THEN '사용취소'
			        ELSE (SELECT CC.CODE_VALUE FROM COMMON_CODE CC WHERE CC.CODE_TYPE = 'VOUCHER_STATUS' AND CC.CODE_KEY = A.STATUS) END AS STATUS,
			   A.STATUS R_STATUS,     
			   CASE WHEN A.STATUS = '08' THEN DATE_FORMAT(A.UPD_DATE, '%Y-%m-%d')
			        ELSE '정상' END AS CANCEL_DATE
		  FROM VOUCHER A,
		       VOUCHER_SALE B LEFT JOIN PROMOTION P
		                 ON B.PROMOTION_ID = P.PROMOTION_ID,
		       MEMBER_PARENT C,
		       VOUCHER_USE_VIEW D
		 WHERE A.VOUCHER_NO = B.VOUCHER_NO
		   <if test="storeId != null and storeId != 'CST00001'.toString()">
           AND A.STORE_ID = #{storeId}
           </if>
		   AND B.BUY_CELL_PHONE = C.CELL_PHONE
		   AND B.VOUCHER_NO = D.VOUCHER_NO
	</select>
	
	<select id="selectVoucherSaleCancelCount" parameterType="kr.co.crevill.voucher.VoucherDto" resultType="integer">
		SELECT COUNT(*)
		  FROM VOUCHER
		 WHERE STATUS = '08'
		   <if test="storeId != null and storeId != 'CST00001'.toString()">
           AND STORE_ID = #{storeId}
           </if>
	</select>
	
	<insert id="insertVoucherProduct" parameterType="kr.co.crevill.voucher.VoucherDto">
    	INSERT INTO VOUCHER_PRODUCT (
    								 PRODUCT_NO,
		   						     GRADE,
								     TICKET_NAME,
								     PRICE,
								     SALE_PRICE,
								     USE_TIME,
								     REG_ID,
								     REG_DATE,
								     IMAGE_IDX,
								     STORE_ID,
								     EXPIRE_MONTH,
								     STATUS								
		   							)
							 VALUES (
							 		 #{productNo}, 
									 #{grade},
								     #{ticketName},
								     #{price},
								     #{salePrice},
								     #{useTime},
								     #{regId},
								     NOW(),
								     #{imageIdx},
								     #{storeId},
								     #{endDate},
								     #{status}
									)
    </insert>
	
	<insert id="insertVoucher" parameterType="kr.co.crevill.voucher.VoucherDto">
    	INSERT INTO VOUCHER (
   						     VOUCHER_NO,
						     GRADE,
						     TICKET_NAME,
						     PRICE,
						     SALE_PRICE,
						     USE_TIME,
						     END_DATE,
						     REG_ID,
						     REG_DATE,
						     IMAGE_IDX,
						     STATUS,
						     STORE_ID,
						     PRODUCT_NO								
   							)
					 VALUES (
							 #{voucherNo},
						     #{grade},
						     #{ticketName},
						     #{price},
						     #{salePrice},
						     #{useTime},
						     DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{endDate} MONTH), '%Y%m%d'),
						     #{regId},
						     NOW(),
						     #{imageIdx},
						     #{status},
						     #{storeId},
						     #{productNo}
							)
    </insert>
	
	<insert id="insertVoucherProductAttribute" parameterType="kr.co.crevill.voucher.VoucherDto">
		INSERT INTO VOUCHER_PRODUCT_ATTRIBUTE(
								      PRODUCT_NO,
									  ATTRIBUTE,
									  REG_ID,
									  REG_DATE
									 )
					      	  VALUES (
					      		      #{productNo},
								      #{attribute},
								      #{regId},
								      NOW()	
					      		     )			 
	</insert>
	
	<insert id="insertVoucherAttribute" parameterType="kr.co.crevill.voucher.VoucherDto">
		INSERT INTO VOUCHER_ATTRIBUTE(
								      VOUCHER_NO,
									  ATTRIBUTE,
									  REG_ID,
									  REG_DATE
									 )
					      	  VALUES (
					      		      #{voucherNo},
								      #{attribute},
								      #{regId},
								      NOW()	
					      		     )			 
	</insert>
	
	<insert id="insertVoucherSale" parameterType="kr.co.crevill.voucher.VoucherSaleDto">
		INSERT INTO VOUCHER_SALE(
							     VOUCHER_NO,
								 BUY_CELL_PHONE,
								 USED_CHILDREN_NAME,
								 PG_TYPE,
								 APPROVAL_NO,
								 STORE_ID,
								 <if test="promotionId != null">
								 PROMOTION_ID,
								 </if>
								 REG_ID,
								 REG_DATE
								)
					     VALUES (
				      		     #{voucherNo},       
								 #{buyCellPhone},    
								 #{usedChildrenName},
								 #{pgType},         
								 #{approvalNo},      
								 #{storeId},     
								 <if test="promotionId != null">
								 #{promotionId},
								 </if>
								 #{regId},
								 NOW()           	
					      		)			 
	</insert>
	
	<update id="updateVoucherProduct" parameterType="kr.co.crevill.voucher.VoucherDto">
		UPDATE VOUCHER_PRODUCT
		 <set>
	         <if test="grade != null">GRADE = #{grade},</if>
	         <if test="ticketName != null">TICKET_NAME = #{ticketName},</if>
	         <if test="price != null">PRICE = #{price},</if>
	         <if test="salePrice != null">SALE_PRICE = #{salePrice},</if>
	         <if test="useTime != null">USE_TIME = #{useTime},</if>
	         <if test="expireMonth != null">EXPIRE_MONTH = #{endDate},</if>
	         <if test="imageIdx != null">IMAGE_IDX = #{imageIdx},</if>
	         <if test="status != null">STATUS = #{status},</if>
	         <if test="storeId != null">STORE_ID = #{storeId},</if>
	         UPD_ID = #{updId},
	         UPD_DATE = NOW(),
    	 </set>
       WHERE PRODUCT_NO = #{productNo} 	 		 
	</update>
	
	<update id="updateVoucher" parameterType="kr.co.crevill.voucher.VoucherDto">
		UPDATE VOUCHER
		 <set>
	         <if test="grade != null">GRADE = #{grade},</if>
	         <if test="ticketName != null">TICKET_NAME = #{ticketName},</if>
	         <if test="price != null">PRICE = #{price},</if>
	         <if test="salePrice != null">SALE_PRICE = #{salePrice},</if>
	         <if test="useTime != null">USE_TIME = #{useTime},</if>
	         <if test="endDate != null">END_DATE = #{endDate},</if>
	         <if test="imageIdx != null">IMAGE_IDX = #{imageIdx},</if>
	         <if test="status != null">STATUS = #{status},</if>
	         <if test="storeId != null">STORE_ID = #{storeId},</if>
	         <if test="memo != null">MEMO = #{memo},</if>
	         UPD_ID = #{updId},
	         UPD_DATE = NOW(),
    	 </set>
       WHERE VOUCHER_NO = #{voucherNo} 	 		 
	</update>
	
	<update id="updateVoucherSale" parameterType="kr.co.crevill.voucher.VoucherSaleDto">
		UPDATE VOUCHER_SALE
		 <set>
	         <if test="buyCellPhone != null">BUY_CELL_PHONE = #{buyCellPhone},</if>
	         <if test="usedChildrenName != null">USED_CHILDREN_NAME = #{usedChildrenName},</if>
	         <if test="pgType != null">PG_TYPE = #{pgType},</if>
	         <if test="approvalNo != null">APPROVAL_NO = #{approvalNo},</if>
	         <if test="storeId != null">STORE_ID = #{storeId},</if>
	         <if test="buyCellPhone != null">BUY_CELL_PHONE = #{buyCellPhone},</if>
	         <if test="promotionId != null">PROMOTION_ID = #{promotionId},</if>
	         UPD_ID = #{updId},
	         UPD_DATE = NOW(),
    	 </set>		 
       WHERE VOUCHER_NO = #{voucherNo} 
	</update>
	
	<update id="updateVoucherUse" parameterType="kr.co.crevill.voucher.VoucherDto">
		UPDATE VOUCHER_USE
		 <set>
	         <if test="voucherNo != null">VOUCHER_NO = #{voucherNo},</if>
	         <if test="useTime != null">USE_TIME = #{useTime},</if>
	         <if test="status != null">STATUS = #{status},</if>
	         <if test="reservationId != null">RESERVATION_ID = #{reservationId},</if>
	         UPD_ID = #{updId},
	         UPD_DATE = NOW(),
    	 </set>		 
       WHERE VOUCHER_USE_ID = #{voucherUseId} 
	</update>
	
	<delete id="deleteVoucherProduct" parameterType="kr.co.crevill.voucher.VoucherDto">
		DELETE 
		  FROM VOUCHER_PRODUCT
		 WHERE PRODUCT_NO = #{productNo} 
	</delete>
	
	<delete id="deleteVoucher" parameterType="kr.co.crevill.voucher.VoucherDto">
		DELETE 
		  FROM VOUCHER
		 WHERE VOUCHER_NO = #{voucherNo} 
	</delete>
	
	<delete id="deleteVoucherProductAttribute" parameterType="kr.co.crevill.voucher.VoucherDto">
		DELETE 
		  FROM VOUCHER_PRODUCT_ATTRIBUTE
		 WHERE PRODUCT_NO = #{productNo} 
	</delete>
	
	<delete id="deleteVoucherAttribute" parameterType="kr.co.crevill.voucher.VoucherDto">
		DELETE 
		  FROM VOUCHER_ATTRIBUTE
		 WHERE PRODUCT_NO = #{voucherNo} 
	</delete>
		
</mapper>